In [1]:
import pandas as pd
import numpy as np
import matplotlib. pyplot as pt 
import seaborn as sn

In [2]:
data = pd.read_csv(r"C:\Users\thump\OneDrive\Desktop\Final Project Literature Survey\Raw Data\bank\bank-full.csv")
data.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

In [3]:
data['contact']= data['contact'].replace(['unknown','cellular','telephone'],[0,1,2])

In [4]:
data['y']= data['y'].replace(['yes','no'],[1,2])

In [5]:
data['marital']= data['marital'].replace(['single','married','divorced'],[1,2,3])

In [6]:
data['default']= data['default'].replace(['yes','no'],[1,2])

In [7]:
data['housing']= data['housing'].replace(['yes','no'],[1,2])

In [8]:
data['loan']= data['loan'].replace(['yes','no'],[1,2])

In [9]:
data['job']= data['job'].replace(['blue-collar','management','technician','admin.','services','retired','self-employed','entrepreneur','unemployed',      
'housemaid','student','unknown'],[1,2,3,4,5,6,7,8,9,10,11,0])

In [10]:
data['education'] = data['education'].replace(['tertiary','secondary','primary','unknown'],[1,2,3,0])

In [11]:
data['month'] = data['month'].replace(['may','jul','aug','jun','nov','apr','feb','jan','oct','sep','mar','dec'],[1,2,3,4,5,6,7,8,9,10,11,12])

In [12]:
data['poutcome'] = data['poutcome'].replace(['unknown','failure','other','success'],[0,1,2,3])

In [13]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,2,2,1,2,2143,1,2,0,5,1,261,1,-1,0,0,2
1,44,3,1,2,2,29,1,2,0,5,1,151,1,-1,0,0,2
2,33,8,2,2,2,2,1,1,0,5,1,76,1,-1,0,0,2
3,47,1,2,0,2,1506,1,2,0,5,1,92,1,-1,0,0,2
4,33,0,1,0,2,1,2,2,0,5,1,198,1,-1,0,0,2

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  int64
 2   marital    45211 non-null  int64
 3   education  45211 non-null  int64
 4   default    45211 non-null  int64
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  int64
 7   loan       45211 non-null  int64
 8   contact    45211 non-null  int64
 9   day        45211 non-null  int64
 10  month      45211 non-null  int64
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  int64
 16  y          45211 non-null  int64
dtypes: int64(17)
memory usage: 5.9 MB

# Normalizing Continuous Variables

In [23]:
data.education.value_counts()

2          23202
1          13301
3           6851
unknown     1857
Name: education, dtype: int64

In [7]:
data['y'].value_counts()

no     39922
yes     5289
Name: y, dtype: int64

# DECISION TREE CLASSIFIER

In [28]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import accuracy_score

In [17]:
X = data.drop('y',axis=1)
Y = data.y

In [18]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.4)

In [23]:
DT = tree.DecisionTreeClassifier()

In [24]:
DT.fit(x_train,y_train)

DecisionTreeClassifier()

In [26]:
y_pred = DT.predict(x_test)

In [30]:
Test_accuracy = accuracy_score(y_test,y_pred)
print(Test_accuracy)

0.8754769145700857

# PICKLING THE MODEL

In [33]:
import pickle

In [34]:
pickle.dump(DT,open('desiciontree.pkl','wb'))

In [35]:
pickled_model = pickle.load(open('desiciontree.pkl','rb'))

In [41]:
print(pickled_model.predict([[31,1,2,3,2,54,1,2,1,18,1,239,6,-1,0,0]]))

[2]

In [39]:
print(x_test.head(2))

       age  job  marital  education  default  balance  housing  loan  contact  \
38804   31    1        2          3        2       54        1     2        1
39731   29    5        2          2        2     3748        2     2        1

       day  month  duration  campaign  pdays  previous  poutcome
38804   18      1       239         6     -1         0         0
39731   28      1       322         3     -1         0         0